
<h2 class="page-title">Addresses</h2>

<div class="row-fluid">
  <div class="col-lg-6">
  
    <form class="form-horizontal" ng-submit="preferencesVm.savePreferences()">
      <fieldset>


        <div class="form-group">
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputstartAddress" placeholder="Start" ng-model="preferencesVm.currentUser.preferences.start_address">
    
            <input type="text" class="form-control" id="inputendAddress" placeholder="Destination" ng-model="preferencesVm.currentUser.preferences.end_address">
          </div>
        </div>
		
        <div class="form-group">
          <div class="col-lg-6 col-lg-offset-6">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </fieldset>
    </form>

  </div>

</div>
