<h2 class="page-title">Hello, {{vm.currentUser.username}}!</h2>

<div class="row-fluid">

  <div class="col-lg-6">
    <div class="jumbotron">
      <p>To view rides in your area, go to: <a href="#/preferences" data-toggle="tab">Address</a> and specify valid starting and ending addresses.</p>
		    <form class="form-horizontal" ng-submit="vm.saveRoute()">
      <fieldset>


        <div class="form-group">
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputstartAddress" placeholder="Start" ng-model="vm.currentUser.route.start_address" ng-change="vm.getRides(vm.currentUser.route)" ng-model-options="{debounce: 750}">
    
            <input type="text" class="form-control" id="inputendAddress" placeholder="Destination" ng-model="vm.currentUser.route.end_address" ng-change="vm.getRides(vm.currentUser.route.)" ng-model-options="{debounce: 750}">
          </div>
        </div>
		
        <div class="form-group">
          <div class="col-lg-6 col-lg-offset-6">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </fieldset>
    </form>
		
		
		<div map-lazy-load="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places">
			<ng-map zoom="14" center="current-location">
					<marker position="current" animation="Animation.BOUNCE" centered="true"></marker>
					<marker ng-repeat="pos in vm.ridesData"  position="{{pos.lat}},{{pos.lon}}"></marker>
			</ng-map>
		</div>
	</div>

  </div>

  <div class="col-lg-6">
    <div>
      <table class="table table-striped table-hover" ng-show="vm.ridesData">

        <tbody>
		<tr>
			<th>Service</th>
			<th>Estimated Time</th>
			<th>ETA</th>
			<th>Cost</th>
			<th>Lat</th>
			<th>Lon</th>
        </tr>
        <tr ng-repeat="rides in vm.ridesData">
          <td>{{rides.ride_type}}</td>
		  <td>{{rides.estimated_duration_seconds}}</td>
		  <td>{{rides.eta_seconds}}</td>
		  <td>{{rides.estimated_cost_cents}}</td>
		  <td>{{rides.lat}}</td>
		  <td>{{rides.lon}}</td>
        </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>



